.footer {
  background: #111;
  color: #fff;
  padding: 40px 0 20px;
  margin-top: 60px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.footer-title {
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-text {
  opacity: 0.8;
  line-height: 1.5;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

.footer-links a:hover {
  opacity: 1;
  padding-left: 5px;
}
.footer-icon{
    font-size: 25px;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 15px;
  opacity: 0.7;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-links a:hover {
    padding-left: 0;
  }
}
