.hero-carousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.hero-carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
    image-rendering: auto;
}