.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  border: none;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card-body {
  padding: 1rem;
  text-align: center;
}
.card h5 {

  margin:  0.5rem auto;
  font-size: 1.1rem;
}
.card-body a:hover {
  background-color: #0b5ed7;
}